# Network RPC URLs
POLYGON_RPC_URL=https://polygon-rpc.com
MUMBAI_RPC_URL=https://rpc-mumbai.maticvigil.com

# Deployment Account
PRIVATE_KEY=your_wallet_private_key_here

# API Keys
POLYGONSCAN_API_KEY=your_polygonscan_api_key_here

# Game Server
GAME_SERVER_ADDRESS=your_game_server_wallet_address_here

# WalletConnect
VITE_WALLET_CONNECT_PROJECT_ID=your_wallet_connect_project_id_here 